{{> header}}
  <link href="css/main.css" type="text/css" rel="stylesheet" />
  <main>
    <section id="box">
      <h1>Login</h1>
      {{#if msg}}
      <p class="error-message">{{msg}}</p>
      {{/if}}
      <form action="/login-action" method="post" class="register-login">
        <p>Username:<br /><input type="text" name="username" placeholder="your username" value="" id="username" autofocus></p>
        <p>Password:<br /><input type="password" name="password" placeholder="your password" value="" id="password"></p>
        <p><input type="submit" value="Log in" id="submit"></p>
      </form>
    </section>
  </main>

{{> footer }}
