{{> header}}

    <main>
        <h1>Profile</h1>  
        <p>User Score: {{score}} </p>   
        <form action="/profile-action" enctype="multipart/form-data" method="post">
          <p><input type="file" accept=".png" name="avatar" id="avatar-input"></p>
          <p><input type="submit" value="Upload" id="submit"></p>
        </form> 
    </main>

{{> footer }}