{{> header}}

    <main>
        <h1>Profile</h1>     
         <form action="/profile-action" enctype="multipart/form-data" method="post">
        <p><input type="file" name="avatar" id="avatar-input"></p>
        <p><input type="submit" value="Create" id="submit"></p>
      </form> 
    </main>

{{> footer }}