{{> header}}

  <link href="css/main.css" type="text/css" rel="stylesheet" />

  <main>
    <section id="box">
      <h1>Sign Up</h1>
      <form action="/register-action" enctype="multipart/form-data" method="post">
        <p>Username:<br /><input type="text" name="username" placeholder="your preferred username (no spaces)" value=""></p>
        <p>Password:<br /><input type="password" name="password" placeholder="your chosen password" value=""></p>
        <p><input type="submit" value="Create"></p>
      </form>
    </section>
  </main>

{{> footer }}